<!DOCTYPE html>
<html>
<head>
  <title>Heatmap</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZw=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>
</head>
<body>
  <div id="map" style="width: 800px; height: 600px;"></div>
  <input id="search-input" type="text" placeholder="Search location">
  <button id="search-button">Search</button>
  <button id="tree">Tree</button>
  <button id="grass">Grass</button>

  <script>
    document.getElementById('search-button').onclick = function() {
      const query = document.getElementById('search-input').value;
      fetch('/search', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ query })
      })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    };

    
    document.getElementById("tree").