<nav class="nav-extended light" style="background-color: var(--md-sys-color-primary);">
  <div class="container">
    <div class="nav-wrapper" style="display: flex; align-items: center; justify-content: space-between;">
      <a href="/">
        <img src="assets/app_logo.png" height="65">
      </a>
      <ul class="right hide-on-med-and-down"
        style="display: flex; gap: 10px; align-items: center; justify-content: flex-end;">
        <li>
          <div>
            <a href="/heatmap" style="color: var(--md-sys-color-on-secondary-container);">
              <i class="material-icons left"
                style="border-radius: 100px; color: var(--md-sys-color-on-secondary-container); background-color: var(--md-sys-color-secondary-container); padding-left: 15px; padding-right: 15px;">
                travel_explore</i>
              <b>Heatmap</b>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="forecast.html" style="color: var(--md-sys-color-on-secondary-container);">
              <i class="material-icons left"
                style="border-radius: 100px; color: var(--md-sys-color-on-secondary-container); background-color: var(--md-sys-color-secondary-container); padding-left: 15px; padding-right: 15px;">query_stats</i>
              <b>Forecast</b>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="/diary" style="color: var(--md-sys-color-on-secondary-container);">
              <i class="material-icons left"
                style="border-radius: 100px; color: var(--md-sys-color-on-secondary-container); background-color: var(--md-sys-color-secondary-container); padding-left: 15px; padding-right: 15px;">bookmarks</i>
              <b>Diary</b>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="/my_account" style="color: var(--md-sys-color-on-secondary-container);">
              <i class="material-icons left"
                style="border-radius: 100px; color: var(--md-sys-color-on-secondary-container); background-color: var(--md-sys-color-secondary-container); padding-left: 15px; padding-right: 15px;">person</i>
              <b>Account</b>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>