<ul id="dropdown1" class="dropdown-content">
  <li><a href="/my_account"><i class="material-icons left">person</i>Account</a></li>
    <li class="divider"></li>
    <li><a href="diary.html"><i class="material-icons left">bookmarks</i>Diary</a></li>
  </ul>
  <nav class="teal lighten-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/"><img src="assets/app_logo.png" height="65"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="index.html" class="black-text"><i class="material-icons left black-text">travel_explore</i>Heatmap</a></li>
          <li><a href="Forecast.html" class="black-text"><i class="material-icons left black-text">query_stats</i>Forecast</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons black-text">more_vert</i>
            <i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
  </nav>