<!DOCTYPE html>
<html>

<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      width: 400px;
      /* Adjust as needed */
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <main>
    <div class="container">
      <h4 class="center">Forgot Password</h4>

      <form id="forgotPasswordForm" action="/auth/forgot-password" method="POST">
        <div class="input-field">
          <input type="email" id="email" name="email" required class="validate">
          <label for="email">Email</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Send Reset Link</button>
      </form>
    </div>
  </main>

  <div id="success-modal" class="modal">
    <div class="modal-content">
      <h4>Success</h4>
      <p>A password reset email has been sent to your registered email address. Please check your inbox (and spam
        folder).</p>
    </div>
    <div class="modal-footer">
      <a href="/auth/login" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <div id="error-modal" class="modal">
    <div class="modal-content">
      <h4>Error</h4>
      <p id="error-message"></p>
    </div>
    <div class="modal-footer">
      <a href="/auth/login" class="modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
  </div>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script type="text/javascript" src="/js/forgot-password.js"></script>

</body>

</html>