<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
    <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      /* Horizontally center */
      align-items: center;
      /* Vertically center */
    }

    .container {
      width: 400px;
      /* Adjust as needed */
      padding: 20px;
      border: 1px solid #ddd;
      /* Optional border */
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <main>
    <div class="container">

        <h4 class="center">Login</h4>
        <form action="/auth/login" method="POST">
          <div class="input-field">
            <input type="email" id="email" name="email" required class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input type="password" id="password" name="password" required class="validate">
            <label for="password">Password</label>
          </div>
          <div class="light">
          <button class="waves-effect waves-light btn" type="submit"
            style="background-color: #446732; color: white;">
            Login
          </button>
        </div>
        </form>
        <p class="center">
          <a href="/auth/forgot-password">Forgot Password?</a>
        </p>
        <p class="center">
          Don't have an account? <a href="/auth/signup">Sign Up Now</a>
        </p>

    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>